<div xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/addApartment}">Add Apartment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/updateApartment}">Update Apartment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/deleteApartment}">Delete Apartment</a>
            </li>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/apartmentsByDistrict}">Apartments by district</a>
            </li>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/apartmentsByOfficeDistrict}">Apartments by office</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/apartmentsByPurchaseRange}">Apartments by purchase range</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/apartmentsByApartmentComplex}">Apartments by apartment complex</a>
            </li>
        </ul>
    </nav>
</div>